@{ 
    ViewData["Title"] = "PassUsingViewBag"; 
}
<div class="container-fluid">
    <h1>PassUsingViewBag</h1>
    <h3>Rand Value First : @ViewBag.Nums.a</h3>
    <h3>Rand Value Second : @ViewBag.Nums.b</h3>
    <h3>Add :</h3>
    <p>@ViewBag.Nums.Add()</p>
    <h3>Sub :</h3>
    <p>@ViewBag.Nums.Sub()</p>
    <h3>Mult :</h3>
    <p>@ViewBag.Nums.Mul()</p>
    <h3>Div :</h3>
    <p>@ViewBag.Nums.Div()</p>
</div>