@{
    ViewData["Title"] = "PassUsingModel";
}
<div class="container-fluid">
    <h1>PassUsingModel</h1>
    <h3>Rand Value First : @Model.a</h3>
    <h3>Rand Value Second : @Model.b</h3>
    <h3>Add :</h3>
    <p>@Model.Add()</p>
    <h3>Sub :</h3>
    <p>@Model.Sub()</p>
    <h3>Mult :</h3>
    <p>@Model.Mul()</p>
    <h3>Div :</h3>
    <p>@Model.Div()</p>
</div>

